body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
#heading {
  font-weight: normal;
}
p {
  line-height: 2;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.middle-container {
  margin: 100px 0;
}
.intro {
  width: 30%;
  margin: auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto 150px auto;
  text-align: left;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
	background-color:#15a3ab;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
  text-indent:0;
	border:1px solid #188585;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
  height:49px;
	line-height:49px;
  width:167px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #2f6627;
}.btn:hover {
	background-color:#1e946d;
}.btn:active {
	position:relative;
	top:1px;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.footer-link {
  color: #11999E;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
/*.btn {
  background-color: #11999E;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  font-size: 30px;
  padding: 0 20px;
  font-weight: normal;
  border: solid #0059A0 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.btn:hover {
  background-color: #15A382;
  color: black;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  font-size: 30px;
  padding: 0 20px;
  font-weight: normal;
  border: solid #0059A0 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
} */
